<h2 class="text-center mb-4">Mudar senha</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "Nova senha",
    class: "form-control form-control-user mb-1" %>
    <% if @minimum_password_length %>
      <em>(mínimo de <%= @minimum_password_length %> caracteres)</em><br />
    <% end %>
  </div>

  <div class="form-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control form-control-user",
    placeholder: "Digite a nova senha mais uma vez" %>
  </div>

  <div class="actions">
    <%= f.submit "Confirmar", class: "btn btn-primary btn-block btn-user" %>
  </div>
<% end %>

<hr>

<div class="text-center">
  <%= render "users/shared/links" %>
</div>
