<!DOCTYPE html>
<html>
  <head>
    <title>Time To Answer | Início</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8d9d868ad3.js"></script>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'site' %>

  
  </head>
  <body>
  <header>
  <div class="navbar navbar-dark navbar-expand-lg bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <strong><%= link_to 'Time To Answer', root_path, class: "navbar-brand d-flex align-items-center"%></strong>
      
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Criar conta</a>
      </li>
    </ul>
    
    </div>
  </div>
</header>
  <section class="jumbotron text-center">
    <div class="container">
      <% unless params[:term] %>
        <h1 class="jumbotron-heading">Qual o seu objetivo?</h1>
        <p class="lead text-muted">Somos uma plataforma completa para tornar seus estudos mais simples, com 
        diversas questões divididas por áreas de conhecimento e todos os resultados que você obteve ao responder
        perguntas ao longo do tempo.</p>
      <% else %>
        <h3 class="jumbotron-heading">Resultados da pesquisa</h3>
        <p class="lead text-muted"><%= @questions.total_count %> resultados encontrados para o termo 
        <b>"<%= params[:term] %>"</b></p>
      <% end %>

      <%= form_with(url: site_search_path, local: true, method: :get, class: "form-row justify-content-center") do |form| %>
      <div class="col-5">
        <%= form.text_field :term, class: "form-control search", placeholder: "Pesquisar palavras-chave..."%>
      </div>
      <div class="col-auto">
        <%= form.submit "Pesquisar", class: "btn btn-primary"%>
      </div>
      <% end %>
      
      
    </div>
  </section>

  
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
	</body>

</html>
