<!DOCTYPE html>
<html>
  <head>
    <title>Time To Answer | Início</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8d9d868ad3.js"></script>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'site' %>

  </head>
  <body>
  <header>
  <div class="navbar navbar-dark navbar-expand-lg bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      
      <strong>
        <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
        <i class="far fa-clock"></i> &nbsp; Time To Answer
        <% end %>
      </strong>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <%= link_to 'Login', new_user_session_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to 'Criar conta', new_user_registration_path, class: "nav-link btn btn-outline-light ml-2 btn-register"%>
      </li>
    </ul>
    
    </div>
    </div>
  </div>
</header>

  <section class="jumbotron text-center">
    <div class="container">
      <% unless params[:term] %>
        <h1 class="jumbotron-heading">Qual o seu objetivo?</h1>
        <p class="lead text-muted">
        Monitore seu desempenho e sua evolução, marque áreas de conhecimento do seu interesse e controle seus estudos.
        Somos uma plataforma completa para tornar seus estudos mais simples!
        </p>
      <% else %>
        <h3 class="jumbotron-heading">Resultados da pesquisa</h3>
        <p class="lead text-muted"><%= @questions.total_count %> resultados encontrados para o termo 
        <b>"<%= params[:term] %>"</b></p>
      <% end %>

      <%= form_with(url: site_search_path, local: true, method: :get, class: "form-row justify-content-center") do |form| %>
      <div class="col-md-5 mt-2">
        <%= form.text_field :term, class: "form-control search", placeholder: "Pesquisar palavras-chave..."%>
      </div>
      <div class="col-md-auto mt-2">
        <%= form.submit "Pesquisar", class: "btn btn-primary"%>
      </div>
      <% end %>
      
      
    </div>
  </section>

  
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
	</body>

</html>
