<!DOCTYPE html>
<html>
  <head>
    <title>Time To Answer | Início</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8d9d868ad3.js"></script>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'site' %>

  
  </head>
  <body>
  <header>
  <div class="navbar navbar-dark navbar-expand-lg bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
        <strong>Time To Answer</strong>
      </a>
      
      
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Criar conta</a>
      </li>
    </ul>
    
    </div>
  </div>
</header>
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Album example</h1>
      <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, 
      etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
      
      
      
      <%= form_with(url: site_search_path, local: true, method: :get, class: "form-row justify-content-center") do |form| %>
      <div class="col-5">
        <%= form.text_field :term, class: "form-control search", placeholder: "Pesquisar palavras-chave..."%>
      </div>
      <div class="col-auto">
        <%= form.submit "Pesquisar", class: "btn btn-primary"%>
      </div>
      <% end %>
      
      
    </div>
  </section>

  
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'site' %>
	</body>

</html>
